

.pcontainer{
  font-family: sans-serif;
  text-align: left;
  background: #ffffff;
  opacity:80%;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  padding: 20px;
  float:center;
  margin: 30px;
  margin-top:15vw;
  font-family: 'Roboto Condensed', sans-serif;
}

.pcontainer h2{
  color:rgb(0, 0, 0);
  font-family:  cursive;
  margin-top:3vw;
  font-size:4vw;
  margin-bottom:2vw;
  text-align: center;
}

.pcontainer h4 {
  color:rgb(0, 0, 0);
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 4vw;
  font-family: 'Roboto Condensed', sans-serif;
}
.pcontainer h5 {
  color:rgb(0, 0, 0);
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 3vw;
  font-family: 'Roboto Condensed', sans-serif;
}

.pcontainer p{
  color:rgb(0, 0, 0);
  font-family: 'Roboto Condensed', sans-serif;
}

#container {
 min-height:100%;
 position:relative;
}
#container {
 height:100%;
}
h1 {
  text-align: center;
  font-size: 80px; 
  margin: 0;
  padding: 0;
  font-variant: large-caps;
  font-family: Aclonica;
  color: black;
} 
.h2a {
  text-align: center;
  font-size: 55px; 
  margin: 0;
  padding: 0;
  font-variant: large-caps;
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: rgba(244, 253, 255, 0.836);
}
h3 {
  color: rgb(32, 44, 68);
  font-size: 35px; 
}
h4 {
  text-align: center;
  font-size: 35px; 
  margin: 0;
  padding: 0;
  font-variant: large-caps;
  font-family: Aclonica;
}
h5 {
  text-align: left;
  font-size: 70px; 
  margin: 0;
  padding: 0;
  font-variant: large-caps;
  font-family: Aclonica;
}
h6 {
  text-align: left;
  font-size: 55px; 
  margin: 2%;
  padding: 0;
  font-variant: large-caps;
  font-family: Aclonica;
  color:rgb(0, 0, 0);
}
.footer  {
  padding: 10px 10px 0px 10px;
  bottom: 0;
  text-align: center;
  background: rgb(32, 44, 68);

 }
.footer p{
  color: white;
  font-size: 25px;
 }
.footer button{
  background-color: rgb(95, 127, 192);
  width: 125%;
 }
 .flex-container {
  display: flex;
   justify-content: center;
  align-items: center;
}

.flex-container > div {
  background-color:  rgb(32, 44, 68);
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
#flex-container_2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#flex-container_2 > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
#left{    
  float: left;  
 }  
 #right{    
  float: right;  
 } 

body{
    margin:0;
    font-family: 'Roboto Condensed', sans-serif;
}
.nav-bar {
  background: #0fd1a1;
  overflow: hidden;
  position:fixed;
  width: 100%;
  top:0;
  z-index: 10;
}

.nav-bar a {
  float: right;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  text-align: center;
  padding: 3%;
  font-size: 19px;
  margin:0;
}

.nav-bar a:hover {
  background-color: rgba(221, 221, 221, 0.856);
  color: black;
}

.nav-bar a.active {
  background-color: rgb(255, 251, 0);
  color: black;
}
#bodyBlock{
    max-width: 50vw;
    max-height: 70vw;
    background:  rgb(240, 250, 255);
	margin: 2vw auto;
	padding: 2vw;
	border-radius: 2vw;
	font-family: 'Roboto Condensed', sans-serif;
}

.formData{
    font: 95% 'Roboto Condensed', sans-serif;
	max-width: 35vw;
	margin: 2vw auto;
	padding: 1.5vw;
    background:  rgb(240, 250, 255);
}

 fieldset{
    border:none;
}
 #formHeader{
  background: rgb(84, 177, 240);
	padding: 2vw 0;
	font-size: 140%;
	text-align: center;
	color: #fff;
  margin: -1vw -2vw -2vw -2vw;
  border-radius: 2vw;
}

label{
	outline: none;
    width: 20%;
    margin:2.5vw 0;
    padding-bottom: 3vw;
	color: black;
	font: 'Roboto Condensed', sans-serif;
}
.value{
    margin-top: .3vw;
    margin-bottom:1vw;
    font: 'Roboto Condensed', sans-serif;
}
#year,#message, #date, #rcsid, #email, #firstName{
    -webkit-transition: all 0.30s ease-in-out;
	outline: none;
	width: 100%;
    border: 1px solid rgba(204, 204, 204, 0.527);
    border-radius:.75vw;
    padding:.75vw;
    font-family: 'Roboto Condensed', sans-serif;
}   
 #year:focus, #message:focus, #date:focus, #rcsid:focus, #email:focus, #firstName:focus{
    box-shadow: 0 0 5px rgb(84, 177, 240);
	padding: 3%;
    border: 1px solid rgb(84, 177, 240);
    font-family: 'Roboto Condensed', sans-serif;
}

#submit{
    font-family: 'Roboto Condensed', sans-serif;
	width: 105%;
	padding: 3%;
	background:rgb(84, 177, 240);
    border-style: none;	
    border-radius: .75vw;
    color: #fff;
    font-size: 1.5vw;
margin:none;}

hr {
  width: 65%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(32, 44, 68);
  border: 0 none;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  text-align: center;
  margin: 0 1.5%;
  width: 63%;
}
.card a{
  font-size: 14px;
  font: Courier New (monospace);
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 430px;
  height: 430px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: transparent;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: transparent;
  color:rgb(32, 44, 68);
  transform: rotateY(180deg);
  font-weight: 300;
}
.flip-card p{
  margin-left : 5%;
  text-align: center;
  font-size: 15px; 
  font-family: Apple Chancery, cursive;
  color: a9a9a9;
  font-weight: 300;
}
.flip-card-inner img{
  border-radius: 50%;
}
.flip-card-back h5{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.flip-card-back li{
  font-family: Apple Chancery, cursive;
  font-size: 15px;
  text-align: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin-left : 5%;
  text-align: center;
  font-size: 25px; 
  font-family: Apple Chancery, cursive;
  font-weight: 300;
  color:rgb(32, 44, 68);
}

#contactBtn {
  margin-left : 5%;
  text-align: center;
  font-size: 25px; 
  font-family: Apple Chancery, cursive;
  font-weight: 300;
  background:  rgb(32, 44, 68);
  border: solid;
  border-color:  rgb(32, 44, 68) ;
  color: white;
  padding: 8%;
}

#logo {
  margin-top: 1%;
  margin-left: 1%;
  width:9.7%;
}

#contactInfo {
  list-style: none;
  color: rgb(32, 44, 68); 
  padding: 8%;
}

body {
  height: 100%;
  font-family: 'Raleway';
  background: linear-gradient(to bottom right, rgb(118, 240, 240),rgb(243, 243, 148),white );
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#signupForm{
  text-align: center;
  margin: 80px 100px;
  border-radius: 40px;
}

#signupForm fieldset{
  background: rgb(240, 255, 253);
  border-radius: 20px;
  box-shadow: 0 0 30px 0 rgb(0, 0, 0, 0.4);
  padding: 20px 50px;
  max-width: 45vw;
  margin-left: 21vw;
}

/*Only shows the first card on the page*/
#signupForm fieldset:not(:first-of-type){
  display:none;
}

.formTitle{
  font-size: 20px;
  color:navy;
  margin-top:5px;
  margin-bottom: 25px;
  letter-spacing:1px;
  font-family: 'Raleway';
}

#signupForm input, #signupForm textarea{
  padding:20px;
  border: 1px solid rgb(119, 116, 116);
  margin-bottom: 15px;
  /*so each input field is on separate line*/
  width:100%;
  border-radius:10px;
  color: rgb(51, 45, 45);
  font-family: 'Raleway';
  font-size: 15px;
  outline:none;
}

#signupForm input:focus, #form textarea:focus{
  box-shadow: none;
  border: 1px solid rgb(118, 240, 240);
  transition: 0.5s ease-in;
}

#signupForm input.exp{
  width:85%;
  float:left;
}

#signupForm .action-button{
  width: 100px;
  background: rgb(243, 243, 148);
  color: rgb(0, 0, 0);
  border-radius: 22px;
  cursor: pointer;
  padding: 13px;
  margin: 12px;
}

#signupForm .action-button:hover, #form .action-button:focus{
  box-shadow: 0 0 0 4px rgb(243, 243, 148);
}

#signupForm .action-button-previous{
  width: 100px;
  background: rgb(118, 240, 240);
  color: rgb(0, 0, 0);
  border-radius: 22px;
  cursor: pointer;
  padding: 13px;
  margin: 12px;
}

#signupForm .action-button-previous:hover, #form .action-button-previous:focus{
  box-shadow: 0 0 0 4px rgb(118, 240, 240);
}

#progressbar{
  margin-bottom: 20px;
  overflow: hidden;
  counter-reset:step;
}


#action-button-add{
  width: 50px;
  font-family:'Raleway';
  background: rgb(120, 233, 116);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  cursor: pointer;
  padding: 12px;
  padding-right:22px;
  margin-top: 11px;
  float:center;
}

#action-button-remove{
  width: 75px;
  font-family:'Raleway';
  background: rgb(241, 80, 51);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  cursor: pointer;
  padding: 12px;
  padding-right:22px;
  margin-top: 10px;
  margin-bottom:10px;
  float:center;
}

#signupForm .action-button-add:hover, #form .action-button-add:focus{
  box-shadow: 0 0 0 4px white;
  background: white;
}

#progressbar li{
  margin-top:0;
  margin-bottom:5px;
  list-style-type: none;
  color: black;
  font-family: 'Raleway';
  width: 27vw;
  float: left;
  position: relative;
}

/*increments each step of registration*/
#progressbar li:before{
  content: counter(step);
  counter-increment: step;
  width: 25px;
  height: 25px;
  display: block;
  font-size: 13px;
  color: black;
  background:white;
  border-radius: 25px;
  margin: 0 auto 10px auto;
  padding-top:3px;
}

/*horizontal bar*/
#progressbar li:after{
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  left: -50%;
  margin-top:-23px;
  background:white;
  z-index: -1;
}

#progressbar li:first-child:after{
  content:none;
}

#progressbar li.active:before, #progressbar li.active:after{
  background: #fff600;
  color: black;
}

.entry:not(:first-of-type)
{
  margin-top: 10px;
}
.glyphicon
{
  font-size: 12px;
}
#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}
 
/* Style each of the sides
with a fixed width and height */
.slide {
  float: left;
  height: 510px;
  width: 728px;
}
 
/* Add animation to the slides */
.slide-wrapper {
   
/* Calculate the total width on the
  basis of number of slides */
  width: calc(728px * 4);
 
/* Specify the animation with the
  duration and speed */
  animation: slide 10s ease infinite;
}
 
/* Set the background color
of each of the slides */
.slide:nth-child(n) {
  background: transparent;
}

 
/* Define the animation
for the slideshow */
@keyframes slide {
   
/* Calculate the margin-left for
  each of the slides */
  20% {
    margin-left: 0px;
  }
 
  40% {
    margin-left: calc(-728px * 1);
  }
 
  60% {
    margin-left: calc(-728px * 2);
  }
 
  80% {
    margin-left: calc(-728px * 3);
  }
}
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* beginning of login page styling */

.login-form {
  font-family: 'Raleway';
  position: relative;
  min-height: 100vh;
  z-index: 0;
  padding: 40px;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
}

.cnt {
  font-family: 'Raleway';
  max-width: 50%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 100px;
}

.login-form h1{
  font-family: 'Raleway';
  text-align: center;
  font-size: 2.5em;
  font-weight: 400;
  color: black;
}

.login-form h2{
  font-family: 'Raleway';
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 5px;
  font-weight: 500;
  color: black;
  text-align: center;
}

.login-form .main {
  font-family: 'Raleway';
  position: relative;
  display: flex;
  margin: 30px 0;
}

.cnt2 {
  font-family: 'Raleway';
  flex-basis: 50%;
  padding: 3em 3em;
  background: #fff;
  box-shadow: 2px 9px 49px -17px rgba(0,0,0,0.5);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.form-img {
  flex-basis: 50%;
  background:white;
  background-size: cover;
  padding:40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  display: grid;
}

.form-img img{
  max-width: 100%;
}

.cnt2 p {
  color: #666;
  font-size: 16px;
  line-height: 25px;
  opacity: 0/6;
  text-align: center;
}

.lbtn,
input{
  font-family: 'Raleway';
  border-radius: 35px;
}

.lbtn:hover{
  transition: 0.5% ease;
}

.cnt2 a {
  text-decoration: none;
}

.login-form form{
  margin: 30px 0;
}

.login-form input {
  outline: none;
  margin-bottom: 15px;
  font-stretch: 16px;
  color: #999;
  text-align: left;
  padding: 14px 20px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  background: #f7fafc;
  transition: 0.3s ease;
}
.login-from input:focus {
  background: transparent;
  border: 1px solid #0568c1;
}

.login-form button {
  font-size: 18px;
  color: #fff;
  width: 100%;
  background: #0568c1;
  border: none;
  padding: 14px 15px;
  font-weight: 500;
  transition: 0.3s ease;
}

.login-form button:hover {
  background: lightskyblue;
}
p.account {
  font-family: 'Raleway';
}

p.account a{
  font-family: 'Raleway';
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0;
  font-size: 16px;
  color: #333;
}

p.account a{
  color: #0568c1;
}

p.account a:hover{
  text-decoration: underline;
}

/* Responsive */
@media(max-width: 736px) {
  .login-form .main{
      flex-direction: column;;
  }
  .login-form form{
      margin-top: 30px;
      margin-bottom: 10px;
  }
  .form-img{
      border-radius: 0;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      order: 2;
  }
  .cnt2{
      order:1;
      border-radius: 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
  }
}

/* end of login page stylinh */



/* Start of Profile page styling */

.profile_container {
  text-align: left;
  background: #f5fdff;
  opacity:80%;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  padding: 15px;
  float:center;
  margin: 5%;
  margin-top:10%;
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-family: Raleway;
}


#profile_picture {
  display: inline-block;
  border-radius: 50%;
  width: 20%;
  height: 20%;
  border: 4px solid rgb(128, 204, 255);
  position: relative;
  top: -9vh;
  left: -9vh;
  transition: border .2s ease-in-out;
}

#profile_picture:hover {
  transition: border .2s ease-in-out;
  border: 4px solid rgb(255, 109, 109);
}

/* .profile_container {
  clear: both;
} */

.profile_header {
  display:inline-block;
  vertical-align: top;
  padding-top: 2%;
}


#username {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 6px;
  font-family: Raleway;
  font-size: 4vw;
}

#mini_username {
  font-family: Raleway;
  font-size: 20px;
  color: rgb(82, 82, 82);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2d3031;
  transform-origin: middle;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: middle;
}




.social_media_header {
  float:right;
  width: 30%;
}

.social_media_header_2 {
  float:right;
  padding-left: 4%;
}

.social_media_header a img{
  width: 50px;
  height: 50px;
  transition: opacity .2s ease-in-out;
}

.social_media_header a img:hover{
  opacity:0.7;
}

.hover-underline-animation_social_media {
  display: inline-block;
  position: relative;
}

.hover-underline-animation_social_media:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #6cdaff;
  transform-origin: middle;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation_social_media:hover:after {
  transform: scaleX(1);
  transform-origin: middle;
}


.hover-underline-animation_3{
  display: inline-block;
  position: relative;
}

.hover-underline-animation_3:after {
  content: '';
  position: absolute;
  width: 96%;
  transform: scaleX(1);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #161616;
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation_3:hover:after {
  transform: scaleX(0);
  transform-origin: bottom right;
}



.description_container {
  background-color:rgba(164, 229, 255, 0.322);
  width: 100%;
  
}

.desc_header {
  font-size: 35px;
  margin:0%;
  margin-top:1%;
  margin-left:1%;
  width: 100%;
  
}
#desc {
  text-align: left;
  font-family: Raleway;
  font-size: 130%;
  margin:0%;
  padding-left: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 1%;
}

#contact_info {
  margin-left: 4%;
  width: 110%;
}

.contact_row {
  line-height: 220%;
}

.contact_row_title {
  font-family: Raleway;
  font-size: 140%;
}

.contact_text{
  margin-left: -90%;
  font-size: 110%;
  color:rgb(4, 99, 161);
}

.title_underline {
  width: 95%;
  height: 1px;
  margin-left: 1%;
  margin-top: 0%;
  background-color: rgb(32, 44, 68);
  border: 0 none;
}

.title_underline_2 {
  width: 95%;
  height: .7px;
  margin-left: 1%;
  margin-top: 0%;
  background-color: rgb(32, 44, 68);
  border: 0%;
}




.interest_block {
  display: inline-block;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  font-family: Raleway;
  font-size: 130%;
  width: 5%;
  height: 5%;
  padding-left: 9%;
  padding-right: 9%;
  line-height: 300%;
  margin-left: 4.5%;
  margin-top: 1.5%;
  margin-right: 4.5%;
  margin-bottom: 1%;
  background-color:rgb(125, 203, 255);
  border: 3px solid rgb(85, 187, 255);
  border-radius: 8px;
}